<p>
  <h2>Login Form</h2>
  <form (ngSubmit)="onLogin(loginform)" #loginform ="ngForm">
    <input type="text" [(ngModel)]="user.username"
             name="username"
             required
             size="15" 
             placeholder="username">
    <br>
    <input type="password" [(ngModel)]="user.password" 
            name="password" 
            required
            size="15" 
            placeholder="password">
    <br>
    <input type="submit" value="Submit">
  </form>
  <br>
  <div style="color:red" *ngIf="errorMessage">
    <h2>Error:{{errorMessage}}</h2>
  </div>
<!--
  </p>
-->




